.back-nav {
  width: 100vw;
  height: 500px;
}

.back-nav__absolute {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 500px;
}

.back-nav__img {
  margin-left: 80px;
  margin-top: 300px;
  stroke: var(--white);
}

.back-nav__on-dark-stroke {
  stroke: var(--white);
}

.back-nav__on-light-stroke {
  stroke: var(--black);
}

.back-nav__red-stroke {
  stroke: var(--red);
}
