.content-device__volume-svg {
  position: fixed;
  left: 2vw;
  top: 2vw;
}

.content-device__text * {
  overflow: hidden;
  display: inline-block;
}

.content-device__text__sound {
  cursor: pointer;
}

.content-device__text__sound:hover {
  color: var(--red);
}

.content-device__text__group {
  position: absolute;
  display: inline-block;
}

.content-device__text {
  position: relative;
  height: 7950px;
}

/*--------------------- 
Rabbit
----------------------*/

.content-device__text__group__rabbit {
  left: 10vw;
}

.content-device__text__group__rabbit > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}

/*--------------------- 
heart rate
----------------------*/

.content-device__text__group__heart {
  top: 228px;
  left: 24vw;
}

.content-device__text__group__heart > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

/*--------------------- 
fingernail
----------------------*/

.content-device__text__group__fingernail {
  top: 422px;
  left: 53vw;
  z-index: 1;
}

.content-device__text__group__fingernail > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

/*--------------------- 
Snail
----------------------*/

.content-device__text__group__snail {
  top: 766px;
  left: -0.5vw;
  width: 200vw;
}

.content-device__text__group__snail > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
}

/*--------------------- 
Minutes
----------------------*/

.content-device__text__group__minutes {
  top: 893px;
  left: 5vw;
  width: 200vw;
}

.content-device__text__group__minutes > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

/*--------------------- 
Earth
----------------------*/

.content-device__text__group__earth {
  top: 1091px;
  left: 12vw;
  width: 200vw;
}

.content-device__text__group__earth > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}

/*--------------------- 
Tech
----------------------*/

.content-device__text__group__tech {
  top: 1315px;
  left: 2vw;
  width: 200vw;
}

.content-device__text__group__tech > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}

/*--------------------- 
Silly
----------------------*/

.content-device__text__group__silly {
  top: 1491px;
  left: 53vw;
  width: 200vw;
  z-index: 1;
}

.content-device__text__group__silly > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

/*--------------------- 
Data
----------------------*/

.content-device__text__group__data {
  top: 1857px;
  left: 2vw;
}

.content-device__text__group__data > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 87px;
}

/*--------------------- 
Naked
----------------------*/

.content-device__text__group__naked {
  top: 2332px;
  left: 58vw;
  z-index: 1;
}

.content-device__text__group__naked > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

/*--------------------- 
Creator
----------------------*/

.content-device__text__group__creator {
  top: 2508px;
  left: 0vw;
}

.content-device__text__group__creator > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 130%;
}

/*--------------------- 
Reboot
----------------------*/

.content-device__text__group__reboot {
  top: 2728px;
  left: 22vw;
}

.content-device__text__group__reboot > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
}

/*--------------------- 
Porn
----------------------*/

.content-device__text__group__porn {
  top: 2665px;
  left: 39vw;
  background-color: var(--black);
  padding: 36px;
  z-index: 2;
}

.content-device__text__group__porn > p {
  color: var(--white);
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

/*--------------------- 
Perspective
----------------------*/

.content-device__text__group__perspective {
  top: 2813px;
  left: 1vw;
}

.content-device__text__group__perspective > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

/*--------------------- 
Creepy
----------------------*/

.content-device__text__group__creepy {
  top: 2931px;
  left: 58vw;
}

.content-device__text__group__creepy > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
}

/*--------------------- 
Cat
----------------------*/

.content-device__text__group__cat {
  top: 3135px;
  left: 27vw;
}

.content-device__text__group__cat > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

/*--------------------- 
Fart
----------------------*/

.content-device__text__group__fart {
  top: 3591px;
  left: -2vw;
  width: 300vw;
}

.content-device__text__group__fart > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120%;
}

/*--------------------- 
bp
----------------------*/

.content-device__text__group__bp {
  top: 3750px;
  left: 4vw;
  width: 300vw;
}

.content-device__text__group__bp > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

/*--------------------- 
baby
----------------------*/

.content-device__text__group__baby {
  top: 3826px;
  left: 42vw;
  width: 300vw;
  z-index: 1;
}

.content-device__text__group__baby > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

/*--------------------- 
christmas
----------------------*/

.content-device__text__group__christmas {
  top: 4212px;
  left: 10vw;
  width: 300vw;
}

.content-device__text__group__christmas > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
}

/*--------------------- 
bear
----------------------*/

.content-device__text__group__bear {
  top: 4365px;
  left: 1vw;
  width: 300vw;
}

.content-device__text__group__bear > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

/*--------------------- 
love
----------------------*/

.content-device__text__group__love {
  top: 4588px;
  left: 12vw;
  width: 300vw;
}

.content-device__text__group__love > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

/*--------------------- 
love small
----------------------*/

.content-device__text__group__love-small {
  top: 4913px;
  left: 67vw;
  background-color: black;
}

.content-device__text__group__love-small > p {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding: 37px 85px;
}

/*--------------------- 
michael
----------------------*/

.content-device__text__group__michael {
  top: 5066px;
  left: 46vw;
}

.content-device__text__group__michael > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

/*--------------------- 
pepper
----------------------*/

.content-device__text__group__pepper {
  top: 5519px;
  left: -3.7vw;
}

.content-device__text__group__pepper > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

/*--------------------- 
rain
----------------------*/

.content-device__text__group__rain {
  top: 5380px;
  left: 50vw;
  width: 200vw;
}

.content-device__text__group__rain > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
}

/*--------------------- 
white
----------------------*/

.content-device__text__group__white {
  top: 5846px;
  left: 65vw;
  width: 200vw;
}

.content-device__text__group__white > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

/*--------------------- 
limp
----------------------*/

.content-device__text__group__limp {
  top: 6422px;
  left: 19vw;
  width: 200vw;
}

.content-device__text__group__limp > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

/*--------------------- 
dead
----------------------*/

.content-device__text__group__dead {
  top: 7135px;
  left: 30vw;
  width: 200vw;
}

.content-device__text__group__dead > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

/*--------------------- 
aio
----------------------*/

.content-device__text__group__aio {
  top: 7339px;
  left: -2vw;
  width: 200vw;
}

.content-device__text__group__aio > p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 96px;
}

/*--------------------- 
religion
----------------------*/

.content-device__text__group__religion {
  top: 7240px;
  left: 52vw;
  width: 200vw;
}

.content-device__text__group__religion > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
