.content-device__volume-svg {
  position: fixed;
  left: 2vw;
  top: 2vw;
}

.content-device__text * {
  overflow: hidden;
  display: inline;
}

.content-device__text__sound {
  cursor: pointer;
}

.content-device__text__sound:hover {
  color: var(--red);
}

.content-device__text__group {
  position: absolute;
}

.content-device__text {
  position: relative;
  height: 200vw;
}

/*--------------------- 
Rabbit
----------------------*/

.content-device__text__group__rabbit {
  left: 10vw;
}

.content-device__text__group__rabbit > p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 2em;
  line-height: 260%;
}

/*--------------------- 
heart rate
----------------------*/

.content-device__text__group__heart {
  top: 228px;
  left: 24vw;
}

.content-device__text__group__heart > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 140%;
}

/*--------------------- 
fingernail
----------------------*/

.content-device__text__group__fingernail {
  top: 422px;
  left: 53vw;
}

.content-device__text__group__fingernail > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 150%;
}

/*--------------------- 
Snail
----------------------*/

.content-device__text__group__snail {
  top: 766px;
  left: -0.5vw;
  width: 200vw;
}

.content-device__text__group__snail > p {
  font-family: "Bodoni 72", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5vw;
  line-height: 150%;
}

/*--------------------- 
Minutes
----------------------*/

.content-device__text__group__minutes {
  top: 893px;
  left: 5vw;
  width: 200vw;
}

.content-device__text__group__minutes > p {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 150%;
}

/*--------------------- 
Earth
----------------------*/

.content-device__text__group__earth {
  top: 1091px;
  left: 12vw;
  width: 200vw;
}

.content-device__text__group__earth > p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 160%;
}

/*--------------------- 
Tech
----------------------*/

.content-device__text__group__tech {
  top: 1315px;
  left: 2vw;
  width: 200vw;
}

.content-device__text__group__tech > p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 2.1em;
  line-height: 150%;
}
