:root {
  /* Color Variables */
  --black: #000000;
  --red: #ff0000;
  --white: white;
}

.black-background {
  background-color: var(--black);
}

.invisible {
  opacity: 0;
  transition-duration: 0.3s;
}

.invisible > * {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition-duration: 0.3s;
}
