:root {
  /* Color Variables */
  --black: #000000;
  --red: #ed0000;
  --white: white;
}

* {
  transition-duration: 0.2s;
  outline: none;
  overflow-x: hidden;
}

.black-background {
  background-color: var(--black);
}

.invisible {
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
}

.invisible > * {
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
}

.visible {
  opacity: 1;
  transition-duration: 0.2s;
}

.visible > * {
  opacity: 1;
  transition-duration: 0.2s;
}

.volume-svg {
  z-index: 2;
  margin-left: 2vw;
  margin-top: 2vw;
  position: fixed;
}
