@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Montserrat:wght@400;500;700;800&family=Playfair+Display:ital@0;1&display=swap");

* {
  color: var(--black);
  line-height: 150%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3.1em;
  color: var(--black);
  line-height: 140%;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: var(--black);
  line-height: 140%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--black);
  line-height: 150%;
}

.semi-bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 800;
}

.text-link__italics {
  color: var(--black);
  cursor: pointer;
}

.text-link__italics:hover {
  font-style: oblique;
}
