.home-header {
  z-index: 2;
  position: absolute;
}

.home-header__title {
  z-index: 2;
  display: block;
  position: fixed;
  top: 7em;
  right: -2.9em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  overflow-y: hidden;
}
