.home-header {
  z-index: 2;
  position: absolute;
}

.home-header__title {
  width: 14em;
  height: 4em;
  z-index: 2;
  display: block;
  position: fixed;
  top: 7.2em;
  right: -3.5em;
  transform-origin: 100%, 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  overflow-y: hidden;
  cursor: pointer;
}
