.home-header {
  z-index: 2;
  /* position: absolute; */
}

.home-header__title {
  width: 14em;
  height: 1.5em;
  z-index: 2;
  display: block;
  position: fixed;
  top: 8.4em;
  right: -4.8em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  overflow-y: hidden;
  cursor: pointer;
}
