.content-training {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition-duration: 0.5s;
  outline: none;
}

.content-training__volume-svg {
  position: absolute;
  left: 2vw;
  top: 2vw;
}

.content-training__text {
  display: block;
  font-size: 4em;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  transition-duration: 0.5s;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.content-training__temperature-05 {
  background-color: var(--black);
}

.content-training__temperature-05 > p {
  color: var(--white);
}

.content-training__temperature-07 {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #367cb9;
}

.content-training__temperature-1 > p {
  color: #ff0000;
}

/* .content-training__temp__block{
  position: absolute;
  width:50px;
  height:100vh;


} */

.content-training__temp__title {
  color: var(--white);
  position: absolute;
  display: block;
  top: 49vh;
  right: -44vh;
  width: 98vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  z-index: 1;
}

.content-training__white {
  fill: white;
}

.content-training__blue {
  fill: #367cb9;
}

.content-training__red {
  fill: var(--red);
}

.content-training__black {
  fill: var(--black);
}

.small-header__info-2 {
  position: fixed;
  z-index: 2;
  width: 220px;
  height: 340px;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 40px;
  padding-bottom: 60px;
  right: 7em;
  top: 7em;
}

.small-header__info-2__light {
  background-color: var(--white);
}

.small-header__info-2__light > * {
  color: var(--black);
}

.small-header__info-2__dark {
  background-color: var(--black);
}

.small-header__info-2__dark > * {
  color: var(--white);
}

.small-header__info-2 > * {
  font-size: 0.8em;
  text-align: right;
}

.small-header__info-2__title {
  padding-bottom: 1em;
  text-transform: uppercase;
}
